<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <script src="/src/main/resources/static/js/consulta/formConsulta.js" th:src="@{/js/consulta/formConsulta.js}"></script>
    <link href="/src/main/resources/static/css/consulta/formConsulta.css" th:src="@"formPaciente.css" th:href = "@{/css/consulta/formConsulta.css}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <div id="menu">
            <div id="menuPaciente" onmouseenter="mostrarMenu('menuPaciente')" onmouseleave="mostrarMenu('menuPaciente')"
                class="itemmenu">
                PACIENTE

                <ul class="submenu">
                    <li><a href="">Encontrar</a></li>
                    <li><a href="">Listar todos</a></li>
                    <li><a href="http://localhost:8080/paciente/cadastrar">Cadastrar novo</a></li>
                    <li><a href="">Apagar um</a></li>
                </ul>
            </div>
            <div id="menuMedico" onmouseenter="mostrarMenu('menuMedico')" onmouseleave="mostrarMenu('menuMedico')"
                class="itemmenu">
                MÉDICO

                <ul class="submenu">
                    <li><a href="">Encontrar</a></li>
                    <li><a href="">Listar todos</a></li>
                    <li><a href="http://localhost:8080/medico/cadastrar">Cadastrar novo</a></li>
                    <li><a href="">Apagar um</a></li>
                </ul>
            </div>
            <div id="menuConsulta" onmouseenter="mostrarMenu('menuConsulta')" onmouseleave="mostrarMenu('menuConsulta')"
                class="itemmenu">
                CONSULTA

                <ul class="submenu">
                    <li><a href="">Encontrar</a></li>
                    <li><a href="">Listar todos</a></li>
                    <li><a href="http://localhost:8080/consulta/cadastrar">Cadastrar novo </a></li>
                    <li><a href="">Apagar um</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="conteudo">
        <div id="center">
            <div id="meio">
                <h2 id="titulo">CADASTRAR CONSULTA</h2>
                <form id="form" onsubmit="post()">

                    <!-- private Long id;
                    private String nomeConsulta;
                    private Date data;
                    private Medico medico;
                    private Paciente paciente; -->

                    <label for="" class="labels">Nome da consulta: </label>
                    <br>
                    <input type="text" class="inputs">
                    <br>
                    <label for="" class="labels">Data: </label>
                    <br>
                    <input type="date" class="inputs">
                    <br>
                    <label for="" class="labels">CPF: </label>
                    <br>
                    <input type="number" class="inputs">
                    <br>
                    <label for="" class="labels">Medico: </label>
                    <br>
                    <select name="" class="inputs"></select>
                    <br>
                    <label for="" class="labels">Paciente: </label>
                    <br>
                    <select name="" class="inputs"></select>
                    <br>
                    <label for="" class="labels"></label>
                    <br>
                    <button onmouseover="entrarSombra('submit')" type="submit" id="submit"
                        name="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>