<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <script src="/src/main/resources/static/js/form.js"
        th:src="@{/js/form.js}"></script>
    <link href="/src/main/resources/static/css/form.css" th:href="@{/css/form.css}"
        rel="stylesheet">
</head>

<body>
    <div id="header">
        <div id="linha">

        </div>
        <div id="menu">
            <div id="menuPaciente" class="itemmenu">
                <p>PACIENTE</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/paciente/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/paciente/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/paciente/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/paciente/apagar">Apagar</a></li>
                </ul>
            </div>
            <div id="menuMedico" class="itemmenu">
                <p>MÉDICO</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/medico/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/medico/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/medico/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/medico/apagar">Apagar</a></li>
                </ul>
            </div>
            <div id="menuConsulta" class="itemmenu">
                <p>CONSULTA</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/consulta/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/paciente/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/consulta/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/consulta/apagar">Apagar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="capa">
<img src="../../static/imgs/capa.jpg" th:src="@{/imgs/capa.jpg}" alt="">    
</div>
    <div id="conteudo">
        <div id="divfrase">
            <p id="frase"><i>"Passo a passo você se sentirá <br> mais confortável e perceberá que esta <br> também é
                    sua
                    casa"</i></p>
        </div>
        <div id="meio">
            <form id="form">
                <div id="centralizatitulo">
                    <p id="titulo">Cadastrar um novo paciente</p>
                </div>
                <div id="colunas">
                    <div id="meioleft">
                        <label for="" class="labels">Nome: </label>
                        <br>
                        <input type="text" class="inputs" id="nome">
                        <br>
                        <label for="" class="labels">CPF: </label>
                        <br>
                        <input type="number" class="inputs" id="cpf">
                        <br>
                        <label for="" class="labels">Idade: </label>
                        <br>
                        <input type="number" class="inputs" id="idade">
                        <br>
                        <label for="" class="labels">Telefone: </label>
                        <br>
                        <input type="tel" class="inputs" id="telefone">
                        <br>
                        <label for="" class="labels">Email: </label>
                        <br>
                        <input type="email" class="inputs" id="email">
                        <br>
                        <label for="" class="labels">Senha: </label>
                        <br>
                        <input type="password" class="inputs" id="senha">
                        <br>
                    </div>
                    <div id="meiorigth">
                        <label for="" class="labels">Rua: </label>
                        <br>
                        <input type="text" class="inputs" id="rua">
                        <br>
                        <label for="" class="labels">Número: </label>
                        <br>
                        <input type="text" class="inputs" id="numero">
                        <br>
                        <label for="" class="labels">Bairro: </label>
                        <br>
                        <input type="text" class="inputs" id="bairro">
                        <br>
                        <label for="" class="labels">Cidade: </label>
                        <br>
                        <input type="text" class="inputs" id="cidade">
                        <br>
                        <label for="" class="labels">Estado: </label>
                        <br>
                        <input type="text" class="inputs" id="estado">
                        <br>
                        <label for="" class="labels"></label>
                        <br>
                        <button type="button" id="submit"
                            name="submit" onclick="criarObjeto()">Cadastrar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>

</html>