<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <script src="/src/main/resources/static/js/listar.js" th:src="@{/js/listar.js}"></script>
    <link href="/src/main/resources/static/css/listar.css" th:href="@{/css/listar.css}" rel="stylesheet">
</head>

<body onload="listarPaciente()">
    <div id="header">
        <div id="linha">

        </div>
        <div id="menu">
            <div id="menuPaciente" class="itemmenu">
                <p>PACIENTE</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/paciente/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/paciente/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/paciente/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/paciente/apagar">Apagar</a></li>
                </ul>
            </div>
            <div id="menuMedico" class="itemmenu">
                <p>MÉDICO</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/medico/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/medico/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/medico/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/medico/apagar">Apagar</a></li>
                </ul>
            </div>
            <div id="menuConsulta" class="itemmenu">
                <p>CONSULTA</p>

                <ul class="submenu">
                    <li><a href="http://localhost:8080/consulta/encontrar">Encontrar</a></li>
                    <li><a href="http://localhost:8080/paciente/listar">Listar</a></li>
                    <li><a href="http://localhost:8080/consulta/cadastrar">Cadastrar</a></li>
                    <li><a href="http://localhost:8080/consulta/apagar">Apagar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="capa">
        <img src="../../static/imgs/capa.jpg" th:src="@{/imgs/capa.jpg}" alt="">
    </div>
    <div id="conteudo">
        <div id="divfrase">
            <p id="frase"><i>"Passo a passo você se sentirá <br> mais confortável e perceberá que esta <br> também é
                    sua
                    casa"</i></p>
        </div>
        <div id="meio">
            <form id="form" onsubmit="post()">
                <div id="centralizatitulo">
                    <p id="titulo">Pacientes</p>
                </div>
                <div id="colunas">
                    <div id="divincolumn">
                        <br>
                        <div id="divjson">
                            <table id="txtjson">
                                <th>id</th>
                                <th>nome</th>
                                <th>cpf</th>
                                <th>idade</th>
                                <th>rua</th>
                                <th>numero</th>
                                <th>bairro</th>
                                <th>cidade</th>
                                <th>estado</th>
                                <th>telefone</th>
                                <th>email</th>
                                <th>senha</th>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <br><br>
        </div>
    </div>
</body>

</html>